<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="namespace" default="/"/>

  <arg name="world"  default="custom"/>
  <arg name="robot"  default="custom"/>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <arg name="planner"        default="base"/>
  <arg name="global_planner" default="navfn"/>
  <arg name="local_planner"  default="pal"/>
  <arg name="localization"   default="amcl"/>
  <arg name="map"            default="$(env HOME)/.pal/tiago_maps/configurations/$(arg world)"/>

  <arg name="rviz"     default="true"/>
  <arg name="gzclient" default="true"/>

  <arg name="public_sim"   default="false"/>
  <arg name="moveit_cam"   default="false"/>

  <arg name="sim_sufix" value="_public_sim"     if="$(arg public_sim)"/>
  <arg name="sim_sufix" value=""                unless="$(arg public_sim)"/>
  

  <env name="PAL_HOST" value="tiago" />
  
  <node name="map_init" pkg="tiago_2dnav_gazebo" type="map_init.bash" args="$(arg world)"/> <!-- -->

  <group ns="$(arg namespace)">

    <include file="$(find tiago_ltl_flexbe)/launch/tiago_gazebo.launch">
      <arg name="world"      		value="$(arg world)"/>
      <arg name="robot"      		value="$(arg robot)"/>
      <arg name="gzpose"    		value="$(arg gzpose)"/>
      <arg name="gui"        		value="$(arg gzclient)"/>
      <arg name="public_sim" 		value="$(arg public_sim)"/>
      <arg name="use_moveit_camera" value="$(arg moveit_cam)"/>

    </include>

    <include file="$(find tiago_2dnav)/launch/navigation.launch">
      <arg name="state"          value="localization"/>
      <arg name="planner"        value="$(arg planner)"/>
      <arg name="global_planner" value="$(arg global_planner)"/>
      <arg name="local_planner"  value="$(arg local_planner)"/>
      <arg name="localization"   value="$(arg localization)"/>
      <arg name="map"            value="$(arg map)"/>
      <arg name="public_sim"     value="$(arg public_sim)"/>
    </include>
    
    
    
    
    
      <!-- marker detector -->
  <node pkg="aruco_ros" type="single"  name="aruco_single">
      <remap from="/camera_info"       to="/xtion/rgb/camera_info" />
      <remap from="/image"             to="/xtion/rgb/image_rect_color" />
      <param name="image_is_rectified" value="True"/>
      <param name="marker_size"        value="0.045"/>
      <param name="marker_id"          value="582"/>
      <param name="reference_frame"    value="/base_footprint"/>   <!-- frame in which the marker pose will be expressed -->
      <param name="camera_frame"       value="xtion_rgb_optical_frame"/>
      <param name="marker_frame"       value="aruco_frame" />
      <param name="corner_refinement"  value="SUBPIX" />
  </node>

  <!-- Load definition of pregrasp motion into play_motion namespace -->
  <rosparam command="load" file="$(find tiago_pick_demo)/config/pick_motions.yaml" /> 

  <!-- Pick & place server -->
  <node name="pick_and_place_server" pkg="tiago_pick_demo" type="pick_and_place_server.py" output="screen">
      <rosparam command="load" file="$(find tiago_pick_demo)/config/pick_and_place_params.yaml" />
      <param name="object_width"  value="0.05" />
      <param name="object_height" value="0.1" />
      <param name="object_depth"  value="0.05" />
  </node>

  <!-- Node exposing service to start looking for the object and trigger the picking -->
  <node name="pick_client" pkg="tiago_pick_demo" type="pick_client.py" output="screen"/>  
  
  
  
    <group if="$(arg rviz)">
<!--
      <node name="pick_demo_rviz" pkg="rviz" type="rviz" args="-d $(find tiago_pick_demo)/config/rviz/tiago_pick_demo.rviz" />
-->

      <node name="rviz" pkg="rviz" type="rviz" 
          args="-d $(find tiago_2dnav)/config/rviz/navigation$(arg sim_sufix).rviz"/>
    </group>
  </group>

  <group if="$(arg public_sim)">
    <node name="relay_map" pkg="topic_tools" type="relay" args="/map /vo_map"/>
  </group>

</launch>
